# URLs
CLIENT_URL=https://localhost:2053
SERVER_URL=https://localhost:8443

# Server config
SERVER_PORT=443
CORS_ALLOWED_ORIGINS=https://localhost:5173
CERTIFICATE_CERT=certs/cert.pem
CERTIFICATE_KEY=certs/key.pem

# JWT config
JWT_SECRET=put secure passphrase here

# Screenshot config
MAX_PARALLEL_SCREENSHOTS=3